@import "navigation.css";
@import "footer.css";
@import "feed.css";
@import "post.css";
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

:root {
    --primary-bg-color: #d1dcff;
    --secondary-bg-color: #f9ae2b;
    --primary-border-radius: 5px;
}

/*Typography
--------------------------------------------------------------*/

body {
    background-color: var(--primary-bg-color);
}
body, button, input, select, textarea {
    color: #404040;
    font-family: "Comfortaa", Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Patua One", serif;
    letter-spacing: 2px;
}

.actionIcon {
    height: 1.2em;
    margin: 0.5em 0.5em;
    cursor: pointer;
}

.highlight {
    border-color: purple;
}

.fakeLink {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    background: none!important;
    border: none;
    cursor: pointer;
}

.fakeLink:hover {
    font-weight: bold;
}

.loginForm {
    margin: 0 25%;
}

.sign-in-form, 
.register-form {
    width: 80vw;
    margin-inline: auto;
    padding: 1rem;
    border-radius: var(--primary-border-radius);
}

.sign-in-form { 
    background-color: var(--secondary-bg-color);
}

.register-form {
    background-color: #ffffff;
}